# Build output
**/bin/
**/obj/

# Visual Studio files
.vs/
*.user
*.suo

# Environment & secrets
appsettings.Development.json

# Node (if you use it later)
node_modules/

# OS files
.DS_Store
Thumbs.db